{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <h1>Min planeringsapp</h1>
    <h2>Planerade aktiviteter</h2>

    {% if today_events %}
        <h2>Idag</h2>
        <ul>
            {% for event in today_events %}
                <li class="event-card">
                    <div class="event-title">{{ event.title }}</div>
                    <div class="event-meta">Tid: {{ event.start_time }} - {{ event.end_time }}</div>
                    <div class="event-meta">Beskrivning: {{ event.description }}</div>

                    <div class="event-actions">
                        <a href="/edit/{{ event.id }}">Redigera</a>
                        <a href="/delete/{{ event.id }}">Ta bort</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if grouped_events %}
        <h2>Kommande aktiviteter</h2>

        {% for date, events in grouped_events.items() %}
            <h3>{{ date }}</h3>

            <ul>
                {% for event in events %}
                    <li class="event-card">
                        <div class="event-title">{{ event.title }}</div>
                        <div class="event-meta">Tid: {{ event.start_time }} - {{ event.end_time }}</div>
                        <div class="event-meta">Beskrivning: {{ event.description }}</div>

                        <div class="event-actions">
                            <a href="/edit/{{ event.id }}">Redigera</a>
                            <a href="/delete/{{ event.id }}">Ta bort</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}

    {% if not today_events and not grouped_events %}
        <p>Inga kommande aktiviteter.</p>
    {% endif %}

{% endblock %}