{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <h1>Min planeringsapp</h1>
    <p>Planerade aktiviteter:</p>

    {% if events %}
        <ul>
            {% for event in events %}
                <li>
                    <strong>{{ event.title }}</strong><br>
                    Date: {{ event.date }}<br>
                    Time: {{ event.start_time }} - {{ event.end_time }}<br>
                    Description: {{ event.description }}
                </li>
                <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>Inga kommande aktiviteter.</p>    
    {% endif %}
{% endblock %}
